.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    margin-top: 10px;
}

.item {
    color: white;
    border-radius: 8px;
    padding: 4px 12px;
    text-align: center;
    cursor: pointer;
}

.item:hover {
    opacity: 70%;
}

.dolci {
    background-color: rgb(253, 101, 134);
}

.vegetariano {
    background-color: rgb(74, 121, 68);
}

.primi {
    background-color: rgb(255, 237, 75);
}

.antipasti {
    background-color: rgb(43, 228, 188);
}

.torte {
    background-color: rgb(252, 137, 44);
}

.react {
    background-color: #61dafb;
}